
     <!-- NavBar starts  -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light fixed margin_nav">
        <a class="mx-10" href="/" title="Amol Dattatraya Vibhute" data-scroll>
          <img src="/images/logo-headng.png" alt class="img-responsive"
        /></a>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav padding_left">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/education">Academics</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle hover"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Professional Life
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#">Professional Memberships</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Experience</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Editorial Board Members</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Reputed Journals Reviewers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Honors and Awards</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Publications</a>
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Conferences</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Research
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#">Patents</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Journal articles</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Books & Proceedings</a>
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
  
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Team
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                <a class="dropdown-item" href="#">Senior Prof. K V. Kale</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Dr. Amol Vibhute</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"> Dr. Sandeep Caikwad</a>
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="#">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact me</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- NavBar ends  -->

      <script>   $(document).ready(function () {
        $('.dropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });
    });</script>
 