<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap cdn end  -->

    <link type="text/css" rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <!-- Nav Starts -->
    <%- include('../partials/nav') %>
    <!-- Nav ends -->

    <!--Banner Starts  -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="education_img" src="/images/educationbanner.jpg" alt="" />
        <!-- <img src="/images/educationbanner.jpg" class="d-block w-100" alt="" /> -->
        <div class="carousel-captions">
          <div class=""></div>
          <h1 class="education_text">Education</h1>
        </div>
      </div>
    </div>
    <!--Banner ends  -->
 
    <!-- search starts -->
    <div class="container_search">
    <div class="d-block  align-items-end education_padding">
      <!-- Search div  -->
      <form class="d-flex">
        <input
          class="form-control border-info me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success bg-primary text-white"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
    <!-- Search div  -->
     <!-- search ends -->
    <!-- list Starts -->
    <div class="d-block justify-content-end align-items-end education_padding">
      <ul>
        <li>
          <h6>
            <a class="fw-bolder h5 text-decoration-none" href="/">Academics</a>
          </h6>
        </li>
        <hr />
        <li>
          <h6>
            <a class="fw-bolder h5 text-decoration-none" href="/">Conferences</a>
          </h5>
        </li>
        <hr />
        <li>
          <h6>
            <a class="fw-bolder h5 text-decoration-none" href="/">Editorial Board Members</a>
          </h5>
        </li>
        <hr />
        <li>
          <h6>
            <a class="fw-bolder h5 text-decoration-none" href="/">Honors And Awards</a>
          </h5>
        </li>
        <hr />
        <li>
          <h6>
            <a class="fw-bolder h5 text-decoration-none" href="/">Publications</a>
          </h5>
        </li>
        <hr />
        <li>
          <h6>
            <a class="fw-bolder h5 text-decoration-none" href="/">Professional Memberships</a>
          </h5>
        </li>
       
      </ul>
    </div>

    <!-- list ends -->
    <div class="d-block justify-content-end align-items-end education_padding">
      <h4 class="fw-bolder text-black fs-4">Recent Posts</h4>
      <img class=" " src="/images/recentpost.jpg" alt="">
      
      <!-- Date -->
      <div>
        <br>
        <span > <span class="icon_m "><svg xmlns="http://www.w3.org/2000/svg"  width="16"  height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg> </span>  July 18, 2023</span> <br>
        <span><a href="" class="text-black text-decoration-none fw-bolder"> PHP and MySQL Notes Download </a></span>
      </div>
      
      <div>
        <br>
        <span > <span class="icon_m "><svg xmlns="http://www.w3.org/2000/svg"  width="16"  height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg> </span> 	
        February 14, 2023</span> <br>
        <span><a href="" class="text-black text-decoration-none fw-bolder"> How to improve the communication skill? </a></span>
      </div>
      <br>
      <div>
         
        <span > <span class="icon_m "><svg xmlns="http://www.w3.org/2000/svg"  width="16"  height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg> </span> February 14, 2023</span> <br>
        <span><a href="" class="text-black text-decoration-none fw-bolder"> How to write a good research paper? </a></span>
      </div>
      <br>
      <!-- date  -->
     </div>
    </div>

     
<!-- table starts -->
<div class=" table_h1">
  <h1 class="table_h1 fw-bolder ">Educational information is given below</h1>
<div class="container container_table ">
<table class="table table-bordered border-black">
  <thead>
    <tr>
      
       
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <th scope="    "> Ph.D.</th>
      <td><p>Computer Science (Remote Sensing & GIS), Year: July-2017- Till date (Thesis submitted )
        <br>
        <br>
        Department of Computer Science & IT, Dr. Babasaheb Ambedkar Marathwada, University, Aurangabad, Maharashtra, India.
        <br>
        Research Advisor: Professor Karbhari V. Kale (http://www.kvkale.in/)
        <br>
        Title: “Design and Development of Drought Assessment System using Geospatial Technology”.
        
        Ph.D.  Research Internship:
        
        Completed Research internship on project title “NDVI prediction model using Artificial Neural Network”, at Space Application Center (SAC)-Indian Space Research Organization (ISRO) Ahmedabad, Gujarat, India, during January 22nd, 2020 to May 30th, 2020.
        
        Pre-Ph.D. Coursework: Completed Pre-Ph.D. course work of 16 credits with A grade (CGPA 6.3) in Physical sciences (Computer Science) Organized during July-Aug 2019.</p></td>
       
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
       
    </tr>
   
  </tbody>
</table>
</div>

</div>
<!-- table ends -->



<!-- Footer Starts -->
<footer class="footer">

  <%- include('../partials/footer') %>
</footer> 
      <!-- Footer ends -->

  
  </body>
</html>
